/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */
/* .featured-brand{width:60%; display: inline-block; vertical-align: top;} */
.flex-div{display: flex; justify-content: space-between; padding:10px 0;}
.featured-brand{width:66%; }
.col-width{width:32%;}


